<div class="card">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Teams", teams_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @team.name %></li>
    </ol>
  </nav>
</div>

<% #TODO: Allow editing %>
<h2>Employees</h2>
<ul>
  <% @team.employees.each do |emp| %>
    <li>
      <%= link_to emp %>
    </li>
  <% end %>
</ul>
